<div ng-controller="appointmentCtrl" class="container">
    <div class="row" ng-hide="messageSent">
        <h3>Send us a message to make an appointment and we will respond ASAP.</h3>
        <h3 class="col-lg-12" ng-show="ERR">Please input a valid phone number.</h3>
        <div class="form-group">
            <label for="name">Name:</label>
            <input placeholder="Name...." ng-model="name" type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input placeholder="Email..." ng-model="email" type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="phone">Phone: xxx-xxx-xxxx</label>
            <input placeholder="Phone Number.." ng-model="phone" type="tel" class="form-control" id="phone">
        </div>
        <div class="form-group">
            <label for="desc">Description: </label>
            <textarea placeholder="Description..." ng-model="desc" class="form-control" id="desc"></textarea>
        </div>
        <button class="btn btn-primary col-lg-6" ng-click="sendMessage()" >Send</button>
        <button class="btn btn-danger col-lg-6" ng-click="resetMessage()" >Reset</button>
    </div>
    <div class="container" ng-show="messageSent">
        <h1>Thank you for sending a message, We will respond to you in the next 24 hours.</h1>
    </div>
</div>
<div class="col-lg-12">
    <footer  style="background-color: gainsboro">
        <div class="col-sm-6">
            <p class="text-center">© copyright AceAirUtah.com 2016</p>
        </div>
        <div class="col-sm-6">
            <p class="text-center petit">Developed and Designed by Andrew Langford</p>
        </div>
    </footer>
</div>